#root {
  width: 440px;
  height: 100%;
  background-image: linear-gradient(to bottom,#151922 50%,#898989);
  color: #F0EFE7;
}

* {
  margin: 0;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.header {
  display: flex;
  align-items: center;
  width: 380px;
  margin-top: 30px;
  margin-bottom: 30px;
}

